<% provide :page_title, 'Question' %>
<% currently_at 'Questions' %>

<h1 class="mb-4"><%= @question.title %></h1>
<p>
  <time datetime="<%= @question.formatted_created_at%>">
    Created: <%= @question.formatted_created_at %>
  </time>
  
  <p class="lead my-3">
    <%= @question.body %>
  </p>

  <%= link_to 'Show', question_path(@question), class: 'btn btn-primary' %> 
  <%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-secondary' %> 
  <%= link_to 'Delete', question_path(@question), class: 'btn btn-danger', data: {method: :delete, confirm: 'Are you sure you want to delete this question?'} %>

  <hr class="my-3">

  <h2>Write your answer</h2>

  <%= render 'answers/form' %>      

  <h3 class="mt-5 mb-3">All answers</h3>
  <%== pagy_bootstrap_nav @pagy  if @pagy.pages > 1 %>

  <%= render partial: 'answers/answer', collection: @answers, as: :answer, locals: {question: @question} %> 

  <%== pagy_bootstrap_nav @pagy  if @pagy.pages > 1 %>

    